body, html {
    height: 100%;
    margin: 0;
}

#login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

#login-form label {
    display: block;
    margin-bottom: 8px;
}
